/* eslint-disable */
<template>
    <b-row>
      <b-col cols="12">
        <b-card>
            <TabNav :tabs="tabs" :selected="selected" @selected="setSelected" >
              <Tab :isSelected="selected === 'Assignment'" >
                <List/>
              </Tab>
              <Tab :isSelected="selected === 'RequestOvertime'" >
                <ReqOvertime/>
              </Tab>
              <Tab :isSelected="selected === 'ApprovalOvertime'" >
                <AppOvertime/>
              </Tab>
              <Tab :isSelected="selected === 'RequestQouta'" >
                <ReqQouta/>
              </Tab>
              <Tab :isSelected="selected === 'ApprovalQouta'" >
                <AppQouta/>
              </Tab>
            </TabNav>
        </b-card>
      </b-col>
    </b-row>
</template>

<script>
import {
  BCard, BRow, BCol,
} from 'bootstrap-vue'
import TabNav from './Tabs/TabNav.vue'
import Tab from './Tabs/Tab.vue'
import List from './Assignment/List.vue'
import ReqOvertime from './overtime/request/List.vue'
import AppOvertime from './overtime/approval/List.vue'
import ReqQouta from './qouta/request/List.vue'
import AppQouta from './qouta/approval/List.vue'

export default {
  components: {
    BCard,
    BRow,
    BCol,
    TabNav,
    Tab,
    List,
    ReqOvertime,
    AppOvertime,
    ReqQouta,
    AppQouta,
  },
  data() {
    return {
      selected: 'Assignment',
      tabs: [
        {
          name: 'Assignment',
        },
        {
          name: 'Overtime',
          sub: [
            {
              subName: 'Request',
              alias: 'RequestOvertime',
            },
            {
              subName: 'Approval',
              alias: 'ApprovalOvertime',
            },
          ],
        },
        {
          name: 'Qouta',
          sub: [
            {
              subName: 'Request',
              alias: 'RequestQouta',
            },
            {
              subName: 'Approval',
              alias: 'ApprovalQouta',
            },
          ],
        },
      ],
    }
  },
  methods: {
    setSelected(tab) {
      this.selected = tab
    },
  },
}
</script>

<style lang="scss" >
@import '@core/scss/vue/libs/vue-good-table.scss';
</style>
