<template>
  <div>
    <b-nav :align="'right'" pills small>
      <b-nav-item v-for="tab in tabs" :key="tab">
        <b-nav-item-dropdown
          v-if="tab.sub"
          :text="tab.name"
          v-ripple.400="'rgba(113, 102, 240, 0.15)'"
          variant="flat-primary"
        >
          <b-dropdown-item v-for="sub in tab.sub" :key="sub">
            <a class="nav-link" :class="{ active: sub === selected }" @click="setTab(sub.alias)"
          >{{ sub.subName }}</a>
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <a v-else class="nav-link" :class="{ active: tab.name === selected }" @click="setTab(tab.name)"
          >{{ tab.name }}</a>
      </b-nav-item>
    </b-nav>
    <slot></slot>
  </div>
</template>
<script>
import {
  BNav, BNavItem, BNavItemDropdown, BDropdownItem,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'

export default {
  components: {
    BNav,
    BNavItem,
    BNavItemDropdown,
    BDropdownItem,
  },
  directives: {
    Ripple,
  },
  props: {
    /* Holds all of the tabs data */
    tabs: {
      type: Array,
      required: true,
    },
    selected: {
      type: String,
      required: true,
    },
  },
  methods: {
    setTab(tab) {
      this.$emit('selected', tab)
    },
  },
}
</script>
