<template>
  <b-row>
    <b-col cols="12">
      <FormArticle/>
      <TableArticle/>
    </b-col>
  </b-row>
</template>

<script>
import { BRow, BCol } from 'bootstrap-vue'
import FormArticle from './Form.vue'
import TableArticle from './Table.vue'

export default {
  components: {
    BRow,
    BCol,
    FormArticle,
    TableArticle,
  },
}
</script>

<style lang="scss" >
@import '@core/scss/vue/libs/vue-good-table.scss';
</style>
