<template>
  <b-card-actions title="Form Article" action-collapse>
    <!-- form -->
    <validation-observer ref="simpleRules">
      <b-form>
        <b-row>

          <!-- Title -->
          <b-col cols="12">
            <b-form-group
              label="Title"
              label-for="Title"
            >
              <validation-provider
                #default="{ errors }"
                name="title"
                rules="required"
              >
                <b-form-input
                  id="title"
                  v-model="title"
                  :state="errors.length > 0 ? false:null"
                  placeholder="Title"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- body -->
          <b-col cols="12">
            <b-form-group
              label="Body"
              label-for="Body"
            >
              <validation-provider
                #default="{ errors }"
                name="body"
                rules="required"
              >
                <b-form-input
                  id="body"
                  v-model="body"
                  type="text"
                  :state="errors.length > 0 ? false:null"
                  placeholder="Body"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>
          <!-- file -->
          <b-col cols="12">
            <b-form-group
              label="File"
              label-for="File"
            >
              <b-form-file
                id="inputFile"
                v-model="file"
                placeholder="Choose a file or drop it here..."
                drop-placeholder="Drop file here..."
                accept="image/*, .pdf"
              />

              <b-card-text class="my-1">
                Selected file: <strong>{{ file ? file.name : '' }}</strong>
              </b-card-text>
            </b-form-group>
          </b-col>
          <!-- Save button -->
          <b-col cols="12">
            <b-button
              variant="primary"
              type="submit"
              @click.prevent="validationForm"
            >
              Save
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>

  </b-card-actions>
</template>

<script>
import axios from 'axios'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import {
  BFormInput, BFormGroup, BForm, BRow, BCol, BButton, BFormFile,
} from 'bootstrap-vue'
import { required } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import BCardActions from '@/@core/components/b-card-actions/BCardActions.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BFormInput,
    BFormGroup,
    BForm,
    BRow,
    BCol,
    BButton,
    BFormFile,
    BCardActions,
    // eslint-disable-next-line vue/no-unused-components
    ToastificationContent,
  },
  data() {
    return {
      title: '',
      body: '',
      file: null,
      required,
    }
  },
  methods: {
    validationForm() {
      this.$refs.simpleRules.validate().then(success => {
        if (success) {
          // eslint-disable-next-line
          const formData = new FormData()
          const fileData = document.querySelector('#inputFile')
          formData.append('title', this.title)
          formData.append('body', this.body)
          formData.append('file', fileData.files[0])
          axios.post('http://localhost:8000/api/article', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
              'Content-type': 'application/json',
            },
          }).then(res => {
            this.$router.go('/article', () => {
              this.$toast({
                component: ToastificationContent,
                props: {
                  title: 'Notification',
                  icon: 'BellIcon',
                  text: res.data.message,
                  variant: 'success',
                },
              },
              {
                timeout: 4000,
              })
            })
          }).catch(error => {
            this.$toast({
              component: ToastificationContent,
              props: {
                title: 'Notification',
                icon: 'BellIcon',
                text: error,
                variant: 'danger',
              },
            },
            {
              timeout: 4000,
            })
          })
        }
      })
    },
  },
}
</script>
